<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHORTER</title>
    <link rel="icon" href="https://www.flaticon.com/svg/static/icons/svg/490/490604.svg" type="image/icon type"
        id="banner">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <img
        src="https://lh3.googleusercontent.com/d2qBjskfJLK1JtftEM_mnsQ3Pytf32je3PMcHf_rxlpVlwJzx1cts0_Z_fp75iZdxBJp4etDE0DMfQUF-E_1TPkHAvvbDtVheobgn3_72_tWvwfeUUwQtXacPgzPoiL82nLQfUkWyJFufzNslb6-NDKSjiK28VKFgMQE8ZKz0rCfgh_S1xqY3fqtbtbuLNrbGtu66ldcrAD5ErQRyAPuL0JKc9mQpLm3oYKBDQXy5-LTj921eIi4BptteFoLCxu-B1In7ADCLQ_VBu5_eMGjFeZismg6iFtY7MsCiGcoxNQmsdj9JYCHnmanvQo6WLRurFjTmYEl1hfX3xxAorEPTuVmRK7wAagBX-BNSzZl_UcLvz6om-bBsLIr5qse3-htGrf3dtA58DgMdKgA1fUK-FEX9MbMlPgRIOM88pH5cQdm0Db14ThrjonlQsCNstPbn0Jhtj9wQieETohXCJSBNBst9quwk887uPz5eByqDcvZMLr3exMSew5l3w_E16gFB-gpRxn6aQCuEzb9CI4HFyPNofJaT4vH_W5uAVesMoVnDuDoqzIpsGxRW_EWOAwDJc8fnW92YEJSfE5eGcuiiOZKEPGGvMn74OSvYKnAZdQ_WvQk_OAUeDudkWuc7IRnK685kwp4TgPghYzRVOKHkNe_J8pi_UdnkiydEyrotpHtrx4-CfBReELrmPxEsA=w1920-h1080-no?authuser=0">
    <form action="/api/url" method="POST" id="myForm">
        <label for="url">
            <input type="text" name="longUrl" size="35%" required />
        </label>
        <button type="submit">Shorter</button>
    </form>

    <input type="text" name="shortUrl" value="<%= url.shortUrl %>" size="35%" id="shortUrl-input" />
    <button onclick="myFunction()" onmouseout="outFunc()">Copy</button>

    <script>
        function myFunction() {
            var copyText = document.getElementById("shortUrl-input");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");
            var tooltip = document.getElementById("myTooltip");
            tooltip.innerHTML = "Copied: " + copyText.value;
        }
        function outFunc() {
            var tooltip = document.getElementById("myTooltip");
            tooltip.innerHTML = "Copy to clipboard";
        }
    </script>
</body>

</html>